@media (max-width:600px) {
  /* body{
    background: yellow;
  } */
  .products{
    display:inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  .footer_content, .section{
    display: inherit;
  }
}
